@{
    ViewBag.Title = "Aggiorna";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<div>
    <table class="tabella">
        <tr>
            <td class="firstrow">Reparto</td>
            <td class="firstrow">IP</td>
            <td class="firstrow">Porta</td>
        </tr>
       @foreach(var stampante in Model)
        {
            <tr>

                <td class="otherrows">@stampante.Nome<input type="text" /></td>
                <td class="otherrows">@stampante.IP<input type="text" /></td>
                <td class="otherrows">@stampante.Port</td>
            </tr>
        }
    </table>
    <br />
    <input type="submit" />
    
</div>


