
<div class="jumbotron">
    <h1>Stampanti</h1>
    <p class="lead">Qui di seguito trovi la lista delle stampanti.</p>
</div>

<div>

    <table class="tabella" id="Table">
        <tr>
            <td class="firstrow"><b>Reparto</b></td>
            <td class="firstrow"><b>IP</b></td>
            <td class="firstrow"><b>Porta</b></td>
        </tr>
        @foreach (var stampante in Model)
        {
         <tr>

            <td class="otherrows">@stampante.Nome</td>
            <td class="otherrows">@stampante.IP</td>
            <td class="otherrows">@stampante.Port</td>
            <td>
                <button>@Html.ActionLink("Update", "Update", new { Id = stampante.Id })</button>
                <button>@Html.ActionLink("-Delete", "Delete", new { Id = stampante.Id })</button>
            </td>
         </tr>
        }
    </table>
    <br />
    <div>
        <button>
            @Html.ActionLink("Aggiungi", "Create")
        </button>
    </div>

</div>
